.mouseTracker {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid navy;
    width: 350px;
    padding: 0px 100px 30px 100px;  
    margin-bottom: 8px;
    background-color: plum;
    border-radius: 4px;
}

.tracker {
    position: relative;
    border:  1px solid black;
    width: 350px;
    height: 400px;
    overflow: hidden;
}

.draw {
    position: absolute;
    border-radius: 50%;
    background-color: black;
    width: 6px;
    height: 6px;
}