.Timer {
    border: 1px solid navy;
    width: 350px;
    padding: 0px 100px 30px 100px;
    background-color: powderblue;
    border-radius: 4px;
    margin-bottom: 8px;
}

.btn_style {
    border-radius: 4px;
    padding: 5px 8px;
    margin: 0px 2px;
    background-color: rgb(75, 229, 250);
    border-style: ridge;
}

.btn_style:hover {
    cursor: pointer;
}